/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

body {
  font-size: 30px;
  color: white;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ffa500;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

#left {
  background: #30948d;
  width: 33.3333%;
  float: left;
}

#middle {
  background: #9E1212;
  width: 33.3333%;
  float: left;
}

#right {
  background: #30948d;
  width: 33.3333%;
  float: left;
}

#full {
  background: #394549;
  padding: 40px;
  height: 225px;
}

#division {
  background: #6ea3da;
  padding: 20px;
  overflow: visible;
}

aside {
  background: #a6b747;
  margin-left: 20px;
  width: 300px;
  height: 150px;
  border-color: white;
  border-style: solid;
  line-height: 75px;
  position: absolute;
}

footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ffa500;
}

