<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Events</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center mt-3">
        <h1 class="display-2">Events</h1>
        <p class="lead">Plan, Make, Attend.</p>
        <hr />
        <ul class="nav">
          <li class="nav-item ml-auto">
            <button class="nav-link btn signin">
              Sign In
            </button>
          </li>
          <li class="nav-item mr-auto">
            <button class="nav-link btn register">
              Register
            </button>
          </li>
        </ul>
        <hr />
        <form id="auth" class="w-25 mx-auto"></form>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="js/login.js"></script>
  </body>
</html>
