body{
  font-family: Arial, Helvetica, sans-serif;
}


.chart::before {
  position: absolute;
  z-index: -1;
  display: block;
  top: 20px;
  left: 120px;
  width: 800px;
  height: 400px;
  content: " ";
  background-image: url("maxresdefault.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  opacity: 0.1;
}

.tooltip {
  position: absolute;
  width: 135px;
  height: 80px;
  padding: 2px;
  padding-top: 15px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: #83667f;
  border: 0;
  border-radius: 10px;
  z-index: 9999;
  pointer-events: none; 
}

.axis-text {
  font-family: sans-serif;
  font-weight: bold;
  fill: #229f82;
  text-anchor: middle;
}

.active {
  font-weight: bold;
  fill: #000;
  fill: #229f82;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #4a9688;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #e75480;
  cursor: pointer;
}
