<div class="container">
  <div class="jumbotron text-center mt-3">
    <h1 class="display-2">Events</h1>
    <p class="lead">Plan, Make, Attend.</p>
    <hr />
    <ul class="nav">
      <li class="nav-item ml-auto">
        <button class="nav-link btn logout">
          Logout
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn profile">
          Profile
        </button>
      </li>
    </ul>
    <hr />
    <div class="row">
      <div class="col-md-3 sidenav text-left"></div>
      <div class="col-md-9 contents text-left"></div>
    </div>
  </div>
</div>
<script src="js/app.js"></script>
