<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->
{{#each ics}}
  <p>Flavor: {{name}}</p>
  <p>Price: ${{price}}</p>
  <p>Awesomeness: {{awesomeness}}</p>
  <hr>
{{/each}}
